## Initialize spark and read data

In [12]:
import pyspark as ps

sc = ps.SparkContext.getOrCreate()
print(sc)
print(sc.version)

<SparkContext master=local[*] appName=pyspark-shell>
3.5.1

In [13]:
#import SparkSeccion pyspark.sql
from pyspark.sql import SparkSession

#Create my_spark
spark = SparkSession.builder.getOrCreate()

#print my_spark
print(spark)

<pyspark.sql.session.SparkSession object at 0x00000229A4521FA0>

In [14]:
file_path = 'CHARTEVENTS/CHARTEVENTS.csv'

#Read in the airports path
df_events = spark.read.csv(file_path, header=True)

In [15]:
df_events.printSchema()

root
 |-- ROW_ID: string (nullable = true)
 |-- SUBJECT_ID: string (nullable = true)
 |-- HADM_ID: string (nullable = true)
 |-- ICUSTAY_ID: string (nullable = true)
 |-- ITEMID: string (nullable = true)
 |-- CHARTTIME: string (nullable = true)
 |-- STORETIME: string (nullable = true)
 |-- CGID: string (nullable = true)
 |-- VALUE: string (nullable = true)
 |-- VALUENUM: string (nullable = true)
 |-- VALUEUOM: string (nullable = true)
 |-- WARNING: string (nullable = true)
 |-- ERROR: string (nullable = true)
 |-- RESULTSTATUS: string (nullable = true)
 |-- STOPPED: string (nullable = true)

In [16]:
df_events.show(10)

+------+----------+-------+----------+------+-------------------+-------------------+-----+-----+--------+--------+-------+-----+------------+-------+
|ROW_ID|SUBJECT_ID|HADM_ID|ICUSTAY_ID|ITEMID|          CHARTTIME|          STORETIME| CGID|VALUE|VALUENUM|VALUEUOM|WARNING|ERROR|RESULTSTATUS|STOPPED|
+------+----------+-------+----------+------+-------------------+-------------------+-----+-----+--------+--------+-------+-----+------------+-------+
|   788|        36| 165660|    241249|223834|2134-05-12 12:00:00|2134-05-12 13:56:00|17525|   15|      15|   L/min|      0|    0|        NULL|   NULL|
|   789|        36| 165660|    241249|223835|2134-05-12 12:00:00|2134-05-12 13:56:00|17525|  100|     100|    NULL|      0|    0|        NULL|   NULL|
|   790|        36| 165660|    241249|224328|2134-05-12 12:00:00|2134-05-12 12:18:00|20823|  .37|     .37|    NULL|      0|    0|        NULL|   NULL|
|   791|        36| 165660|    241249|224329|2134-05-12 12:00:00|2134-05-12 12:19:00|20823|    6|       6|     min|      0|    0|        NULL|   NULL|
|   792|        36| 165660|    241249|224330|2134-05-12 12:00:00|2134-05-12 12:19:00|20823|  2.5|     2.5|    NULL|      0|    0|        NULL|   NULL|
|   793|        36| 165660|    241249|224331|2134-05-12 12:00:00|2134-05-12 12:19:00|20823|    0|       0|   ml/hr|      0|    0|        NULL|   NULL|
|   794|        36| 165660|    241249|224332|2134-05-12 12:00:00|2134-05-12 14:44:00|17525|    3|       3|    NULL|      0|    0|        NULL|   NULL|
|   795|        36| 165660|    241249|224663|2134-05-12 12:00:00|2134-05-12 14:44:00|17525|    8|       8|    NULL|      0|    0|        NULL|   NULL|
|   796|        36| 165660|    241249|224665|2134-05-12 12:00:00|2134-05-12 14:44:00|17525| 1.11|    1.11|    NULL|      0|    0|        NULL|   NULL|
|   797|        36| 165660|    241249|220224|2134-05-12 12:35:00|2134-05-12 12:38:00|20889|   58|      58|    mmHg|      1|    0|        NULL|   NULL|
+------+----------+-------+----------+------+-------------------+-------------------+-----+-----+--------+--------+-------+-----+------------+-------+

In [6]:
row_count = df_events.count()
print(f'Number of rows: {row_count}')

Number of rows: 330712483

## Data visualization